<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <!-- <a href="{% url 'pictures' %}"><h1 class="photogur">Photogur</h1></a> -->
        <h1 class="photogur">Photogur</h1>
        <form action="{% url 'picture_search' %}" method="get">
            <label for="picture-search">
                <span>Search:</span>
                <input type="search" id="picture-search" name="query" value={{ query }}>
            </label>
            <input type="submit" value="Search">
        </form>
    </header>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        &copy; Cindy Chea 2019
    </footer>
</body>
</html>