{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/picture.css' %}">
    <img class="hero-picture" src="{{ picture.url }}" alt="{{ picture.title }}" />
    <h2 class="picture_title">{{ picture.title }}</h2>
    <h3 class="picture_artist">By {{ picture.artist }}</h3>
    
    <form action="{% url 'create_comment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="picture" value="{{ picture.pk }}">
        <label for="name">Name</label>
        <input id="name" type="text" name="name">
        <label for="message">Comment</label>
        <textarea name="message" id="message" cols="30" rows="5"></textarea>
        <button type="submit">
            <span>Post Comment</span>
        </button>
    </form>

    <ul>
        <span>Comments</span>
        {% for comment in picture.comments.all %}
        <li>{{ comment.name }}: {{ comment.message }}</li>
        {% endfor %}
    </ul>
    <a class="back" href="{% url 'pictures' %}">Return to all pictures</a>
{% endblock %}